.options h1,input{
	display: inline;
	margin:	5px;
	padding: 5px;
}
.options {
	margin:	5px;
	padding: 5px;
}
.options input {
	float: right;
}
.main {
	border: 2px solid black;
	width: 95%;
	height: 80%;
	margin: 5px;
	margin-top: 20px;
	padding: 5px;
}
.page {
	border: 2px solid black;
	width: 46%;
	height: 90%;
	margin: 5px;
	padding: 5px;
	float: left
}